.hamWrapper {
  position: absolute;
  right: 0.9rem;
  display: none;
  flex-direction: column;
  gap: 4px;
  background: none;
  border: none;
  cursor: pointer;
}

.ham {
  width: 1.2rem;
  height: 1.8px;
  background-color: var(--text);
}

.ham2 {
  width: 0.8rem;
}

.nav_menu {
  mask-image: radial-gradient(
    150% 120% at top right,
    hsl(0 0 0 / var(--t, 0%)) calc(var(--x)),
    transparent calc(var(--x) + 5%)
  );
  transition: all 0.3s ease;
}

.nav_menu.closed {
  transition: all 0.3s ease;
  animation: ReverseMask 1s linear 1 forwards;
  display: flex;
  opacity: 0;
}

.nav_menu.open {
  transition: all 0.3s ease;
  /* animation: mask 1s cubic-bezier(0.78, 0, 0.22, 1) 1 forwards; */
  animation: mask 1s linear 1 forwards;
  width: 100%;
  height: 300px;
  transition: all 0.3s ease;
  position: fixed;
  background-color: white;
  display: flex;
}

@property --l {
  syntax: "<length> | <percentage>";
  inherits: false;
  initial-value: 50%;
}
@property --r {
  syntax: "<length> | <percentage>";
  inherits: false;
  initial-value: 50%;
}
@property --t {
  syntax: "<length> | <percentage>";
  inherits: false;
  initial-value: 0%;
}
@property --x {
  syntax: "<length> | <percentage>";
  inherits: false;
  initial-value: 0%;
}

@keyframes mask {
  0% {
    --l: 48%;
    --r: 52%;
    --t: 0%;
    --x: 0%;
  }
  33% {
    --t: 100%;
  }

  100% {
    --l: 100%;
    --r: 0%;
    --t: 100%;
    --x: 110%;
  }
}

@keyframes ReverseMask {
  0% {
    --l: 100%;
    --r: 0%;
    --t: 100%;
    --x: 110%;
  }
  33% {
    --t: 100%;
  }
  100% {
    --l: 48%;
    --r: 52%;
    --t: 0%;
    --x: 0%;
  }
}

@media screen and (max-width: 950px) {
  .hamWrapper {
    display: flex;
  }
}
