.lineHorizontal {
  width: 100%;
  height: 1px;
  opacity: 0.5;
  background: linear-gradient(90deg, white, transparent);
  border-radius: 1em;
  margin-bottom: 1em;
}

.lineHorizontal:last-child {
  background: linear-gradient(90deg, transparent, white, transparent);
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 650px) {
  .lineHorizontal {
    background: linear-gradient(90deg, transparent, white, transparent);
  }
}