.LoadingScreen {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background-color: black;
  user-select: none;
  transition: all 1s ease;
}

.loader {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: white;
  box-shadow: -20px 0px, 20px 0px;
  animation: l18 1s;
  animation-iteration-count: 2;
  animation-delay: 0.2s;
  transition: all 1s ease;
}

.AnimationHalt {
  box-shadow: 0px 0px, 0px 0px;
}

.FadeOut {
  scale: 1;
  opacity: 0;
  pointer-events: none;
  user-select: none;
}

.LoadingScreen[data-loading="false"] {
  display: none;
}

@keyframes l18 {
  25% {
    box-shadow: -20px -20px, 20px 20px;
  }

  50% {
    box-shadow: 0px -20px, 0px 20px;
  }

  75% {
    box-shadow: 20px -20px, -20px 20px;
  }

  100% {
    box-shadow: 20px 0px, -20px 0px;
  }
}

@keyframes Halt {
  to {
    box-shadow: 0px 0px, 0px 0px;
  }
}

@keyframes Breathe {
  50% {
    opacity: 0.7;
  }
}
