.Footer {
  min-height: 40vh;
  /* max-height: 100rem; */
  overflow: hidden;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  user-select: none;
  font-family: "Inter";
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.TheFooter {
  --opacity: 0.2;
  width: 90%;
  min-height: 15em;
  gap: 2em;
  padding: 2em 1.5em;
  padding-bottom: 4em;
  position: relative;
  bottom: 10%;
  backdrop-filter: blur(10px);
  background-color: hsla(0, 0%, 0%, 0.1);
  /* background: linear-gradient(
    -45deg,
    hsla(212, 100%, 16%, var(--opacity)) 0%,
    hsla(180, 100%, 17%, var(--opacity)) 50%,
    hsla(212, 100%, 16%, var(--opacity)) 100%
  ); */
  display: flex;
  /* border: 1px solid rgba(0, 255, 255, 0.207); */
  /* box-shadow: 0px 0px 20px 7px rgba(0, 255, 255, 0.1); */
  border-radius: 1em;
  /* background: linear-gradient(); */
}

.TheFooter h3 {
  color: var(--color-primary);
  font-size: 1.37em;
}

.LeftWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: white; */
}

.Brand {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.Logo {
  font-size: 1.5em;
  font-weight: 600;
  font-family: var(--font-logo);
  color: var(--color-primary);
}

.Brand > hr {
  opacity: 0.5;
  border-radius: 1em;
}

.TeamCC {
  white-space: nowrap;
  height: max-content;
}

.TeamCC span:first-child {
  font-size: 1em;
}

.TeamCC span:last-child {
  font-family: var(--font-logo);
  color: var(--color-primary);
}

.QuickLinksNav {
  width: 100%;
  display: flex;
  flex-direction: column;
  hr {
    opacity: 0.5;
  }
  nav {
    display: flex;
    gap: 6px;
    flex-direction: column;
  }
  a {
    transition: 0.2s;
    width: max-content;
    position: relative;
    &:hover {
      color: var(--color-primary);
    }
    &::after {
      content: "";
      width: 0;
      /* width: 100%; */
      /* opacity: 0; */
      left: 0;
      bottom: 0;
      height: 1px;
      transition: 0.6s;
      background: linear-gradient(
        90deg,
        /* transparent, */ var(--color-primary),
        transparent
      );
      position: absolute;
    }
    &:hover::after {
      width: 100%;
      opacity: 1;
    }
  }
}

.bottom {
  position: absolute;
  bottom: 1rem;
  z-index: -1;
  transform: translateY(40%);
  font-family: "Comfortaa";
  font-weight: 1000;
  font-size: 13vw;
  color: rgba(255, 255, 255, 0.4);
  /* color: var(--color-primary); */
  /* color: rgba(0, 225, 255, 0.4); */
  mask: linear-gradient(180deg, white 20%, transparent, transparent);
  -webkit-mask: linear-gradient(180deg, white 20%, transparent, transparent);
}

.copyright {
  position: absolute;
  bottom: 1em;
  left: 1em;
}

.copyright > span {
  font-family: var(--font-logo);
}

.SocialMediaLinks {
  display: flex;
  width: 100%;
  gap: 1em;
}

.SocialMediaLinks > a {
  display: flex;
  width: 2.8em;
  padding: 6px;
  height: 2.8em;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  /* background-color: hsl(0, 0%, 10%); */
  box-shadow: 0px 0px 10px 4px hsla(0, 0%, 20%, 0.5);
  border-radius: 50%;
  transition: 0.3s;
  .arrow {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid var(--accent-color);
    height: 0;
    opacity: 0;
    position: absolute;
    transition: 300ms cubic-bezier(0.42, 0, 0, 1.8);
    transform: rotate(25deg) translateY(-15px);
    width: 0;
  }
  &[data-social="Instagram"] > .arrow {
    border-bottom: 10px solid #ee2a7b;
  }
  &::before {
    content: "";
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    z-index: -1;
    background: var(--accent-color);
    transition: opacity 0.3s;
  }
  &:hover::before {
    opacity: 1;
  }
  &::after {
    font-size: 1em;
    content: attr(data-social);
    position: absolute;
    transform: translateY(0) rotate(25deg);
    color: white;
    opacity: 0;
    pointer-events: none;
    transition: 300ms cubic-bezier(0.42, 0, 0, 1.8);
    background: var(--accent-color);
    padding: 0.1em 0.7em;
    cursor: auto;
    border-radius: 100px;
    /* box-shadow: 0px 0px 10px 4px rgba(79, 79, 79, 0.701); */
  }
  &:hover::after {
    opacity: 1;
    transform: translateY(45px) rotate(0);
  }
  &:hover .arrow {
    opacity: 1;
    transform: translateY(30px) rotate(0);
  }

  &[data-social="X"]::after {
    color: black;
  }
  /* &[data-social="Gmail"]::after {
    background: rgb(28, 28, 28);
  } */
  &:hover[data-social="X"] {
    color: #000000;
  }
}

@media screen and (max-width: 768px) {
  .TheFooter {
    min-height: 18rem;
  }
  .copyright {
    left: 34%;
    bottom: 5px;
  }
}

@media screen and (max-width: 650px) {
  .TheFooter {
    /* min-height: 100rem; */
    align-items: center;
    flex-direction: column;
  }
  .LeftWrapper .Brand {
    align-items: center;
  }
  .QuickLinksNav {
    align-items: center;
  }
  .copyright {
    left: 33%;
  }
}

@media screen and (max-width: 450px) {
  .copyright {
    left: 30%;
  }
}

@media screen and (max-width: 370px) {
  .copyright {
    left: 21%;
  }
}
