.Sellout {
  width: 100%;
  min-height: 50vh;
  padding-top: 2em;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Inter";
}

.cards {
  display: flex;
  /* flex-wrap: wrap; */
  /* background-color: aquamarine; */
  max-width: 80rem;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.card {
  overflow: hidden;
  display: flex;
  width: calc(100% - 2em);
  height: clamp(5vh, 18rem, 50vh);
  background-color: hsl(0, 0%, 3%);
  flex-direction: column;
  padding: 2em;
  gap: 1em;
  text-align: center;
  border-radius: 1em;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.3s;
  border: 2px solid rgb(68, 68, 68);
  align-items: center;
}

.gloss {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(10px);
  will-change: opacity;
  transition: opacity 0.2s ease-in-out;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.793) 0%,
    transparent 50%,
    transparent 100%
  );
}

.card > .imgWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card:nth-child(1) > .imgWrapper {
  animation: spin 10s linear infinite;
}

.card h3 {
  color: var(--color-primary-variant-2);
}

.card p {
  color: var(--color-content);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  .cards {
    flex-wrap: wrap;
  }
  .card {
    max-width: 38rem;
  }
}
