.StandOut {
  min-height: 40vh;
  width: 100%;
  display: flex;
  font-family: var(--font-subheading);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 4em;
}

.contactWrapper {
  --path: polygon(10% 0, 0 25%, 0 100%, 100% 100%, 100% 0);
  align-self: center;
}

.contactWrapper button {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: calc(100% - 1em);
  white-space: nowrap;
  color: white;
  border: none;
  background: none;
  padding: 10px;
  clip-path: var(--path);
  font-size: 1.2em;
  position: relative;
  background-color: black;
  transition: all 0.3s ease-out;
  border-radius: 3px;
  &::before,
  &::after {
    content: "";
    background-color: var(--color-primary-variant-3);
    clip-path: var(--path);
    width: calc(100% + 3px);
    height: calc(100% + 3px);
    top: 50%;
    left: 50%;
    /* border-radius: inherit; */
    transform: translate(-50%, -50%);
    z-index: -2;
    position: absolute;
  }
  &::after {
    border-radius: 8px;
  }
  &::before {
    background-color: black;
    z-index: -1;
    border-radius: 4px;
    width: calc(100% - 3px);
    height: calc(100% - 3px);
    transition: all 0.3s ease-out;
  }
  &:hover::before {
    opacity: 0;
  }

  svg {
    opacity: 0;
    transform: translateX(-1em);
    will-change: opacity transform;
    transition: 0.6s ease;
  }

  &:hover {
    --path: polygon(9% 0, 0 25%, 0 100%, 100% 100%, 100% 0);
    width: calc(100% + 0.1em);
    svg {
      opacity: 1;
      transform: translateX(0.3em);
    }
  }
}

.CardsWrapper {
  width: 80%;
  height: 100%;
  display: flex;
  max-width: 80rem;
  gap: 1em;
}

.card {
  width: 100%;
  /* background-color: hsl(0, 0%, 10%); */
  height: clamp(5vh, 19em, 50vh);
  /* height: 19em; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 0.2em;
  /* border: 1px solid hsl(180, 100%, 10%); */
  border-radius: 1em;
  gap: 1em;
}

.card:nth-child(1),
.card:nth-child(3) {
  transform: translateY(4em);
}

.card h3 {
  color: var(--color-primary-variant-2);
}

.cardContent {
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2em;
  width: 100%;
  height: 100%;
  /* background-color: hsl(0, 0%, 5%); */
}

@media screen and (max-width: 1024px) {
  .CardsWrapper {
    flex-wrap: wrap;
  }
  .card:nth-child(1),
  .card:nth-child(3) {
    transform: translateY(0);
  }
}
