* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

/* html {
  scroll-behavior: smooth;
} */

a {
  text-decoration: none;
  color: white;
  /* color: black; */
}

.palette1 {
  /* CSS HEX */
  --cyan: #00ffffff;
  --space-indigo: #141b41ff;
  --ocean-deep: #306bacff;
  --cornflower-blue: #6f9cebff;
  --soft-periwinkle: #918ef4ff;

  /* CSS HSL */
  --cyan: hsla(180, 100%, 50%, 1);
  --space-indigo: hsla(231, 53%, 17%, 1);
  --ocean-deep: hsla(211, 56%, 43%, 1);
  --cornflower-blue: hsla(218, 76%, 68%, 1);
  --soft-periwinkle: hsla(242, 82%, 76%, 1);
}

.palette2 {
  /* CSS HEX */
  --cyan: #00ffffff;
  --cerulean: #007ea7ff;
  --dusty-mauve: #ac80a0ff;
  --ink-black: #061826ff;
  --vintage-grape: #3f3244ff;

  /* CSS HSL */
  --cyan: hsla(180, 100%, 50%, 1);
  --cerulean: hsla(195, 100%, 33%, 1);
  --dusty-mauve: hsla(316, 21%, 59%, 1);
  --ink-black: hsla(206, 73%, 9%, 1);
  --vintage-grape: hsla(283, 15%, 23%, 1);
}

:root {
  font-size: 16px;
  --color-bg: black;
  --text: white;
  color: white;
  /* cursor: none; */

  --color-primary: hsl(180, 100%, 50%);
  --color-primary-variant-2: hsl(183, 95%, 45%);
  --color-primary-variant-3: hsl(195, 90%, 45%);
  --color-primary-variant-4: hsl(223, 74%, 50%);

  --color-content: hsl(300, 100%, 98%);

  --color-secondary: hsl(270, 85%, 60%);

  --font_size-heading: 1.5rem;
  --font_size-subheading: 1.1rem;

  --font-logo: "Comfortaa";
  --font-heading: "Geist";
  --font-subheading: "Inter";

  --gap-universal: 1.5rem;

  --box-shadow-normal: 0px 0px 10px 1px rgba(0, 255, 255, 0.1);
  --box-shadow-hover: 0px 0px 10px 6px rgba(0, 255, 255, 0.2);

  --background-gradient: linear-gradient(
    45deg,
    var(--color-primary-variant-3) 30%,
    var(--color-primary-variant-2)
  );
}

.lightmode {
  --color-bg: white;
  color: black;
  a {
    color: black;
  }
  i {
    opacity: 1;
  }
}

body {
  background-color: var(--color-bg);
}

::-webkit-scrollbar {
  display: none;
}

section {
  padding: 2em 1em;
}

h1 {
  color: var(--color-primary-variant-2);
  font-size: clamp(2vw, 3.5em, 8vw);
  /* font-size: clamp(2.1rem, 5.5vw, 7rem); */
  font-family: var(--font-heading);
  text-align: center;
  margin-bottom: 7px;
}

h2 {
  color: rgba(255, 255, 255, 0.85);
  opacity: 0.9;
  font-size: clamp(1vw, 1.5em, 5vw);
  text-align: center;
  font-weight: 500;
  margin-bottom: 2em;
  font-family: var(--font-subheading);
}
