.Portfolio {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  font-family: var(--font-subheading);
  flex-direction: column;
}

.projects {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  grid-template-rows: 400px 350px;
  grid-template-areas:
    "item-1 item-1 item-1 item-2"
    "item-3 item-4 item-4 item-4";
  grid-auto-flow: column;
  gap: 0.5em;
  padding: 1em;
  position: relative;
}

.Project_card {
  width: 100%;
  height: 100%;
  padding: 0.5em;
  border-radius: 0.15em;
  /* text-align: center; */
  font-size: 2em;
  font-family: "Inter";
  position: relative;
  background-color: hsl(0, 0%, 3%);
  border: 1px solid hsl(0, 0%, 20%);
  /* overflow: hidden; */
  transition: all 0.6s ease;
}

.Project_card::before,
.Project_card::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border-radius: inherit;
  opacity: 0;
  z-index: -1;
  background: conic-gradient(
    from var(--angle),
    transparent 80%,
    var(--color-primary-variant-2),
    transparent
  );
  transition: all 1s ease;
  animation: pulsate 20s forwards infinite;
}

.Project_card::before {
  filter: blur(8px);
}

.Project_card:hover::before {
  opacity: 0.4;
}
.Project_card:hover::after {
  opacity: 0.6;
}

.Project_Content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* align-items: center; */
  width: 100%;
  height: 100%;
  padding-bottom: 1em;
}

.Project_card:nth-child(1),
.Project_card:nth-child(4) {
  .Project_Content {
    margin-top: 2em;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .ImageWrapper {
    margin-top: 0;
  }
  .ImageWrapper img {
    width: 500px;
    transition: scale 0.3s;
  }
}

.ImageWrapper {
  margin-top: 1.7em;
  img {
    width: 270px;
    transition: 0.3s;
  }
}

.Heading {
  top: 10px;
  left: 16px;
  position: absolute;
  h3 {
    /* color: var(--color-primary-variant-2); */
    font-size: 0.9em;
  }
  h4 {
    color: hsl(200, 45%, 65%);
    font-size: 0.3em;
  }
}

.ButtonWrapper {
  bottom: 10px;
  right: 16px;
  gap: 10px;
  display: flex;
  position: absolute;
}

.ButtonWrapper button {
  background: none;
  border: none;
  color: rgb(122, 122, 122);
  cursor: pointer;
  position: relative;
  font-size: 0.5em;
  transition: 0.3s ease;
}

.ButtonWrapper button::after {
  content: "";
  bottom: 1px;
  left: 0;
  width: 0%;
  overflow: hidden;
  transition: 0.6s ease;
  height: 1px;
  background-color: rgb(122, 122, 122);
  position: absolute;
}

.ButtonWrapper button:hover::after {
  background-color: white;
  width: 100%;
}

.ButtonWrapper button:hover {
  color: white;
}

.desc {
  font-size: 0.5em;
}

@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@keyframes pulsate {
  /* to, */
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

@media screen and (max-width: 1250px) {
  .projects {
    grid-template-columns: 300px 200px 200px 300px;
    grid-template-rows: 400px 350px;
    grid-template-areas:
      "item-1 item-1 item-1 item-2"
      "item-3 item-4 item-4 item-4";
  }
}

@media screen and (max-width: 1050px) {
  .projects {
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 400px 400px;
    grid-template-areas:
      "item-1 item-1 item-2"
      "item-3 item-4 item-4";
  }
  .Project_card:nth-child(1),
  .Project_card:nth-child(4) {
    .Project_Content {
      margin-top: 1.5em;
    }
  }
}

@media screen and (max-width: 950px) {
  .projects {
    grid-template-columns: 300px 300px;
    grid-template-rows: 400px 400px 400px;
    grid-template-areas:
      "item-1 item-1"
      "item-2 item-3"
      "item-4 item-4";
  }
}

@media screen and (max-width: 650px) {
  .projects {
    max-width: 20em;
    grid-template-columns: 300px 300px;
    grid-template-rows: 400px 400px 400px 400px;
    grid-template-areas:
      "item-1"
      "item-2"
      "item-3"
      "item-4";
  }
  .Project_card:nth-child(1),
  .Project_card:nth-child(4) {
    .ImageWrapper img {
      width: 270px;
    }
  }
}
